* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/remote.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-image-repeat: no-repeat;
}

/* Styling for gifs */

#showView {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
    justify-items: center;
    padding: 0 1.5rem;
}

img {
    width: 300px;
    height: 150px;
    border-radius: 25px;
    border: 2px solid white;
} 

img:hover {
    cursor: pointer;
}

/* Styling for text */

h1 {
    text-align: center;
    /* padding: 2rem; */
    font-family: 'Love Ya Like A Sister', Arial, Helvetica, sans-serif;
    font-size: 5em;
}

p {
    padding: 1rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-family: 'Love Ya Like A Sister', Arial, Helvetica, sans-serif;
    /* font-size: 5em; */

}

a:hover{
    color: black;
}

/* Styling for buttons */

#buttonsView {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 3rem;
    justify-content: center;
    padding: 1rem;
}

button {
    border-radius: 25px;
    height: 50px;
    width: 150px;
    padding: 2%;
    font-family: 'Love Ya Like A Sister', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
    background-color: black;
    border: 1px solid white;

}

button:hover {
    background-color: orangered;
    cursor: pointer;
}

/* Styling the input fields*/

form {
    display: flex;
    justify-content: center;
    vertical-align: baseline;
}

label {
    padding: 1vw;
    font-family: 'Love Ya Like A Sister', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    width: 20vw;
}

#showInput{
    width: 20vw;
    font-size: 1em;
}

#addShow {
    /* padding: 5vh; */
    border-radius: 25px;
    height: 50px;
    width: 150px;
    /* width: 7vw; */
    margin-left: 1%;
    font-family: 'Love Ya Like A Sister', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
    background-color: black;
    padding: 1em;
    border: 1px solid white;

}

#addShow:hover {
    background-color: blue;
    cursor: pointer;
}
